<a href="https://colab.research.google.com/github/liviatech/Exercicios-Python/blob/main/estruturaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# cria as variáveis com as idades
p1 = 25
p2 = 40
p3 = 15
# verifica qual a maior idade
if p1 >= p2 and p1 >= p3:
 print('Maior idade:', p1)
elif p2 >= p1 and p2 >= p3:
 print('Maior idade:', p2)
 if p3 >= p1 and p3 >= p2:
  print('Maior idade:', p3)

Maior idade: 40

In [ ]:
#Listas podem ser criadas por meio da declaração de valores
#separados por vírgulas e delimitados por colchetes.
[2,3,4,5,6,7,8] #homogênea ou seja um só tipo

[2, 'a', 5.44, True]# Lista com valores heterogêneos

['um', 'dois', None, 4] # Lista com elementos nulo

# Listas com outras listas dentro (listas aninhadas)
l = [0, 1]
[l, 'dois', 'três', [4, 5], 'seis']

# Lista vazia
l = []
print(l)

In [5]:
lista = [2, 'a', 5.44, True, None, 'casa']
# acesso por índices
print(lista[0])
print(lista[3])
print(lista[-1])
# acesso por slices
print(lista[1:4])
print(lista[-2:])
print(lista[:])

2
True
casa
['a', 5.44, True]
[None, 'casa']
[2, 'a', 5.44, True, None, 'casa']

In [12]:
 #cria uma lista para armazenar as 15 idades
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]
# inicialmente assume que a primeira idade é a maior
maior_idade = idades[0]
# percorre a lista verificando a maior idade
for idade in idades:
    if idade > maior_idade:
       maior_idade = idade
# exibe a maior idade encontrada
print('Maior idade:', maior_idade)

Maior idade: 84

In [13]:
 #Criar uma lista inicial, com elementos heterogêneos
lista = [2, 'a', 'b', 'c', 5.44, True]
print(lista)

[2, 'a', 'b', 'c', 5.44, True]

In [14]:
 #Adiciona um novo elemento na lista: Método append
lista.append(999)
print(lista)

[2, 'a', 'b', 'c', 5.44, True, 999]

In [15]:
 #Altera o valor do quarto e o do último elemento
lista[3] = 'a'
lista[-1] = lista[-1] + 1
print(lista)

[2, 'a', 'b', 'a', 5.44, True, 1000]

In [16]:
 #Remove a primeira ocorrência do elemento 'a'
lista.remove('a')
print(lista)

[2, 'b', 'a', 5.44, True, 1000]

In [19]:
l1 = [30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18]
l2 = [2, 'a', 5.44, True]
# Operações de concatenação (+), repetição (*) e filiação (in)
print(l1 + l2)
print(l1 * 3)
print(10 in l1)
# Funções úteis
print(len(l2)) # len: retorna a quantidade de elementos da lista.
print(sum(l1)) # sum: retorna a soma dos elementos de uma lista.
print(max(l1)) # max: retorna o maior elemento da lista (!!!!)
# Métodos que alteram os valores internos da lista
l2.reverse() # reverse: inverte a ordem dos elementos
print(l2)
l1.extend([10, 20, 30, 40, 10]) # extend: adiciona elementos de outra sequência
print(l1)
l1.sort() # sort: ordena os valores da lista
print(l1)
l2.insert(2, 'novo valor') # insert: adiciona um elemento em um índice especifico
print(l2)
l2.pop() # pop: remove o último elemento da lista
print(l2)
l2.clear() # clear: limpa a lista, removendo todos os elementos
print(l2)
# Métodos que retornam valores e não alteram a lista
print(l1.index(40)) # index: retorna o índice da primeira ocorrência do elemento
print(l1.count(10)) # count: conta as ocorrências do elemento

[30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18, 2, 'a', 5.44, True]
[30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18, 30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18, 30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18]
True
4
584
84
[True, 5.44, 'a', 2]
[30, 10, 20, 27, 49, 12, 67, 21, 84, 53, 22, 56, 80, 35, 18, 10, 20, 30, 40, 10]
[10, 10, 10, 12, 18, 20, 20, 21, 22, 27, 30, 30, 35, 40, 49, 53, 56, 67, 80, 84]
[True, 5.44, 'novo valor', 'a', 2]
[True, 5.44, 'novo valor', 'a']
[]
13
3

In [20]:
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]
print('Maior idade:', max(idades))

Maior idade: 84

In [21]:
 #Criação de uma tupla homogênea
tupla = (0, 1, 2, 3, 4)
print(tupla)
# Tupla heterogênea
tupla2 = (2, 'a', 5.44, True, None)
print(tupla2)
# Tupla vazia
tupla3 = ()
print(tupla3)
# acesso por índices
print(tupla[0])
print(tupla[3])
print(tupla[-1])
# acesso por slices
print(tupla2[1:4])
print(tupla2[-2:])
print(tupla2[:])

(0, 1, 2, 3, 4)
(2, 'a', 5.44, True, None)
()
0
3
4
('a', 5.44, True)
(True, None)
(2, 'a', 5.44, True, None)

In [22]:
t1 = (30, 10, 20)
t2 = (2, 'a', 5.44, True)
# Operações de concatenação (+), repetição (*) e filiação (in)
print(t1 + t2)
print(t1 * 3)
print(10 in t1)
# Funções úteis
print(len(t2)) # len: retorna a quantidade de elementos da tupla
print(min(t1)) # min: retorna o menor elemento da tupla
print(max(t1)) # max: retorna o maior elemento da tupla
print(sum(t1)) # sum: retorna a soma dos elementos da tupla
# Métodos que retornam valores
print(t1.index(20)) # index: retorna o índice da primeira ocorrência do elemento
print(t2.count('a')) # count: conta as ocorrências do elemento

(30, 10, 20, 2, 'a', 5.44, True)
(30, 10, 20, 30, 10, 20, 30, 10, 20)
True
4
10
30
60
2
1

In [23]:
 #Criação de um conjunto homogêneo
c1 = {3, 0, 1, 4, 3}
print(c1)
# Criação do mesmo conjunto, porém com uma ordenação diferente dos itens
c2 = {2, 1, 4, 3, 0}
print(c2)
# Conjunto heterogêneo
c3 = {2, 'a', 5.44, True, None}
print(c3)

{0, 1, 3, 4}
{0, 1, 2, 3, 4}
{True, 2, 5.44, 'a', None}

In [24]:
#Criação dos conjuntos A e B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print('A:', A)
print('B:', B)
# Operação de União: (A ∪ B)
print('A | B =>', A | B)
print('A.union(B) =>', A.union(B))
# Operação de Interseção: (A ∩ B)
print('A & B =>', A & B)
print('A.intersection(B) =>', A.intersection(B))
# Operação de Diferença: (A - B) e (B - A)
print('A - B =>', A - B)
print('A.difference(B) =>', A.difference(B))
print('B - A =>', B - A)
print('B.difference(A) =>', B.difference(A))

A: {1, 2, 3, 4, 5}
B: {4, 5, 6, 7, 8}
A | B => {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B) => {1, 2, 3, 4, 5, 6, 7, 8}
A & B => {4, 5}
A.intersection(B) => {4, 5}
A - B => {1, 2, 3}
A.difference(B) => {1, 2, 3}
B - A => {8, 6, 7}
B.difference(A) => {8, 6, 7}

In [25]:
 #Criação dos conjuntos A e B
c1 = {1, 2, 3, 4, 5}
c2 = {4, 5}
c3 = {91, 92, 93}
# Adiciona um elemento ao conjunto
c1.add(6)
print(c1)
# Adiciona os elementos de uma sequência iterável
c1.update([2, 4, 6, 8])
print(c1)
# Descarta um elemento do conjunto,
c1.discard(8)
print(c1)
# Diferentemente do set.remove(), o discard não gera um erro
# se o elmento a ser removido não existir
c1.discard(99)
print(c1)
# Verifica se os conjuntos são disjuntos, ou seja,
# se não possuem nenhum elemento em comum
print(c1.isdisjoint(c2))
print(c1.isdisjoint(c3))
# Verifica se o conjunto é subconjunto de outro
print(c1.issubset(c2))
print(c2.issubset(c1))
# Verifica se o conjunto contém outro conjunto (superset)
print(c1.issuperset(c2))
print(c2.issuperset(c1))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
False
True
False
True
True
False

In [26]:
 #Criação das listas de alunos das turmas
ING = ['Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna']
ESP = ['Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui']
FRA = ['Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina']
# Concatenação de todas as listas de alunos
ALL = ING + ESP + FRA
# Ordenação para melhor visualização
ALL.sort()
# Exibição do resultado
print('Relação de todos os alunos da escola:')
print(ALL)

Relação de todos os alunos da escola:
['Ana', 'Artur', 'Beatriz', 'Bruna', 'Bruna', 'Bruna', 'Caio', 'Caio', 'Carolina', 'Carolina', 'Flávia', 'Flávia', 'Gabriel', 'Juliano', 'Juliano', 'Maria', 'Maria', 'Maria', 'Paula', 'Pedro', 'Rubens', 'Rui', 'Rui', 'Tiago']

In [27]:
ING = {'Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna'}
ESP = {'Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui'}
FRA = {'Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina'}
# 1 – Interseção entre os pares de turmas: (ING & ESP), (ING & FRA) e (ESP & FRA)
# 2 – Calcula a união das interseções
ALUNOS_DESCONTO = (ING & ESP) | (ING & FRA) | (ESP & FRA)
# Exibição do resultado
print('Relação de dos alunos com desconto:')
print(ALUNOS_DESCONTO)

Relação de dos alunos com desconto:
{'Juliano', 'Bruna', 'Maria', 'Rui', 'Carolina', 'Caio', 'Flávia'}

In [29]:
 #Dicionário onde as chaves são do tipo string
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
print(d1)
# Dicionário onde as chaves são do tipo inteiro
d2 = {2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
print(d2)
# Dicionário com chaves de tipos mistos
d3 = {2: 'a', 5.44: True, 'key': None}
print(d3)
# Dicionário vazio
d4 = {}
print(d4)

{'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
{2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
{2: 'a', 5.44: True, 'key': None}
{}

In [30]:
# Criação dos dicionários
d1 = {2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
d2 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
# Acesso aos elementos
print(d1[0])
print(d1[2])
print(f'Meu nome é {d2["nome"]} e tenho {d2["idade"]} anos')

zero
dois
Meu nome é Antônio e tenho 36 anos

In [31]:
 # do dicionário
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
# Acesso por meio do operador []
print(d1['endereço'])#chave inexixtente

KeyError: 'endereço'

In [33]:
 #Criação do dicionário
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
# Acesso por meio do método get()
print(d1.get('endereço'))

None

In [34]:
 #Criação do dicionário
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
print(d1)
# Atualização do valor da chave 'nome'
d1['nome'] = 'Antônio Carlos'
print(d1)
# Adição da chave 'endereço'
d1['endereço'] = 'Rua 123'
print(d1)

{'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
{'nome': 'Antônio Carlos', 'idade': 36, 'sexo': 'masculino'}
{'nome': 'Antônio Carlos', 'idade': 36, 'sexo': 'masculino', 'endereço': 'Rua 123'}

In [35]:
 #Cria o dicionário
d1 = {'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4}
print(d1)
# Encontra a maior e menor chave
print('Maior e menor chave:', max(d1), min(d1))
# Adiciona elementos de um outro dicionario
d1.update({'cinco': 5, 'seis': 6})
print(d1)
# Verifica se o dicionário possui as seguintes chaves
print("A chave 'dois' está no dicionário?", 'dois' in d1)
print("A chave 'cinco' não está no dicionário?", 'dois' in d1)
# Remove o elemento com chave 'zero'
d1.pop('zero')
print(d1)

{'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4}
Maior e menor chave: zero dois
{'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4, 'cinco': 5, 'seis': 6}
A chave 'dois' está no dicionário? True
A chave 'cinco' não está no dicionário? True
{'um': 1, 'dois': 2, 'três': 3, 'quatro': 4, 'cinco': 5, 'seis': 6}

In [43]:
#Cria o dicionário
d1 = {'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4}
# Itera sobre as chaves
for key in d1:
    if key == 'três':
        print('Chave três encontrada!') # Indent this line
for key in d1.keys():
    if key == 'dez':
        print('Chave quatro encontrada!') # Indent this line as well
# Itera sobre os valores
soma = 0
for value in d1.values():
    soma = soma + value
print('Soma dos valores do dicionário:', soma)
# Itera sobre os itens
for key, value in d1.items():
    print(key, value)

Chave três encontrada!
Soma dos valores do dicionário: 10
zero 0
um 1
dois 2
três 3
quatro 4